node_modules
package-lock.json
/*
!.gitignore
!wp-content
wp-content/*

!wp-content/mu-plugins
wp-content/mu-plugins/*
!wp-content/mu-plugins/clubitsolutions_post_types.php

!wp-content/plugins
wp-content/plugins/*
!wp-content/plugins/our-first-unique-plugin

!wp-content/themes
wp-content/themes/*
!wp-content/themes/twentytwenty-child
!wp-content/themes/twentytwentyone-child
!wp-content/themes/clubitsolutions-theme