// colors are from color generator https://coolors.co/991d0f-1152b2-ff8432-7fe1ff-81939e-e8ebed-121517

$rufous: #991d0fff;
$sapphire: #1152b2ff;
$princeton-orange: #ff8432ff;
$sky-blue-crayola: #7fe1ffff;
$light-slate-gray: #81939eff;
$platinum: #e8ebedff;
$eerie-black: #121517ff;

$color-red: #cc0a00;
$color-blue: #267ee2;
//$color-white: #e8ebed;
$color-white: $platinum;
//$color-black: #121517;
$color-black: $eerie-black;
$color-grey-dark: #273234;
$color-grey-light: $light-slate-gray;
$color-blue-light: $sky-blue-crayola;
$color-blue-dark: $sapphire;
$color-orange: $princeton-orange;
$color-red-dark: $rufous;

$bp-largest: 87.5em; 	// 1400px
$bp-large: 75em;		// 1200px
$bp-medium: 62.5em;		// 1000px
$bp-small: 37.5em;		// 600px
$bp-smallest: 25em;		// 400px

$skew-value: 5deg;
