.offer__item__icon {
	fill: $color-blue;
	width: 4.5rem;
	height: 4.5rem;
}

.wordpress__icon {
	fill: $color-blue;
	width: 12rem;
	height: 12rem;
}

.wordpress__benefits__icon {
	fill: $color-blue;
	width: 8rem;
	height: 8rem;
}

.wordpress__list__icon {
	fill: $color-blue;
	width: 3.5rem;
	height: 3.5rem;
}

.clubitsolutions__portfolio__icon {
	fill: $color-grey-light;
	border-radius: 100%;
	width: 3rem;
	height: 3rem;
}
